.header-todo {
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.date {
  align-items: center;
  gap: 0.4rem;
  color: #6b6e76;
  display: flex;
}
.today-date {
  font-weight: bold;
  color: #404245;
  font-size: 2.3rem;
}
.month {
  font-weight: bold;
  color: #6b6c72;
  font-size: 0.9rem;
}
.year {
  font-size: 0.8rem;
  color: #6b6c72;
}
.weekday {
  font-size: 0.8rem;
  font-weight: bold;
  color: #545458;
}
