.list-container {
  height: 17rem;
  overflow-y: scroll;
}
.list-container::-webkit-scrollbar {
  display: none;
}
.completed {
  color: #c1c1c1;
}
.list:first-child {
  padding-top: 1rem;
}
.list p {
  font-size: 0.9rem;
}
.list {
  height: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
}
.not-completed {
  color: #555555;
}
.list-checkbox {
  position: relative;
  cursor: pointer;
}
.list-checkbox:before {
  content: "";
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  top: -0.2rem;
  left: -0.2rem;
  position: absolute;
  background-color: #f6f8f6;
  border-radius: 50%;
}
.list-checkbox:checked:before {
  content: "";
  position: absolute;
  top: -4px;
  left: -5px;
  display: block;
  background-color: #15eb80;
  width: 1.2rem;
  height: 1.2rem;
}
.list-checkbox:checked:after {
  content: "";
  display: block;
  border: 2px solid #f5f6f5;
  border-radius: 50%;
  background-image: url("../../Images/icon.jpg");
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  top: -2px;
  left: -3px;
}
